<ion-content>
  <div class="maincontent" *ngIf="summary">
    <lottie-animation-view
    [options]="lottieConfig"
    [width]="300"
    [height]="100"
    (animCreated)="handleAnimation($event)">
    </lottie-animation-view>
    <h3 class="text-center">Thank you for shopping with us!</h3>
    <p class="text-center">Find below your order details</p>
    <ion-card class="transaction">
      <ion-card-content>
        <h2>Order Details</h2>
        <hr>
        <p>Order Id - PLN{{ summary.data.orders_id }}</p>
        <p>Order Date - {{ summary.data.date_purchased | date : 'dd MMM yyyy, hh:mm:a' }}</p>
        <p>Order subotal - {{ (+summary.subtotal | currency:'INR') }}</p>
        <p *ngIf="summary.data.coupon_data && summary.data.coupon_data.coupon_amount > 0">Coupon discount - {{ (+summary.data.coupon_data.coupon_amount | currency:'INR') }}</p>
        <p *ngIf="+summary.data.deduct_from_wallet > 0">Wallet Discount - {{ (+summary.data.deduct_from_wallet) | currency:'INR' }}</p>
        <p>Order shipping - {{ summary.data.shipping_cost | currency:'INR' }}</p>
        <p>Order total - {{ +summary.total_price | currency:'INR' }}</p>
        <p><a target="_blank" download href="{{data.apiUrlNew}}viewOrderPdf/{{summary.data.orders_id}}.pdf" color="px">Download Invoice</a></p>
      </ion-card-content>
    </ion-card>


    <ion-card class="freeProd cashbackDisc" *ngIf="summary.data.coupon_data && summary.data.coupon_data.discount_type == 'wallet' && summary.data.coupon_data.amount > 0">
      <ion-card-content style="padding: 20px 20px 10px;">
        <div class="freeProduct">
          <p style="font-size: 14px;color: #bf9401;padding: 10px 15px 10px 25px;background: #fff1c1;margin: -20px -20px 5px;border-radius: 8px 8px 0 0;">Coupon Code - <strong style="text-transform: uppercase;">{{ summary.data.coupon_data.code }}</strong></p>
          <ion-grid style="padding:0;margin-top:8px;border-bottom:none;">
            <ion-row>
              <ion-col size="12">
                <h4>Congratulations! You have got <strong>{{ +summary.data.coupon_data.amount | currency:'INR' }}</strong> on this order. Please check your wallet.</h4>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>


    <ion-card class="freeProd" *ngIf="freeProduct">
      <ion-card-content style="padding: 20px 20px 10px;">
        <div class="freeProduct">
          <p style="font-size: 14px;color: #bf9401;padding: 10px 15px 10px 25px;background: #fff1c1;margin: -20px -20px 5px;border-radius: 8px 8px 0 0;">Coupon Code - <strong style="text-transform: uppercase;">{{ summary.data.coupon_data.code }}</strong></p>
          <ion-grid style="padding:0;margin-top:8px;border-bottom:none;">
            <ion-row>
              <ion-col size="3">
                <img [src]="data.apiUrlNew+freeProduct.products_image">
              </ion-col>
              <ion-col size="9">
                <h4>{{ freeProduct.products_name }}</h4>
                <p><del>{{ freeProduct.products_price | currency : 'INR' }}</del><b>Free</b></p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="cashback_msg" *ngIf="+summary.data.cashback_amount >= 1">
      <ion-card-content [routerLink]="['/profile/wallethistory']">
        Congratulations! You have got <strong>{{ +summary.data.cashback_amount | currency:'INR' }}</strong> as product cashback on this order. Please check your wallet.
      </ion-card-content>
    </ion-card>
    <ion-card class="recipient">
      <ion-card-content>
        <h2>Recipient Details</h2>
        <hr>
        <p>{{ summary.data.delivery_name }}</p>
        <p>{{ summary.data.delivery_street_address }}</p>
        <p>{{ summary.data.delivery_city}}-{{ summary.data.delivery_postcode }}</p>
        <p>Mobile - {{ summary.data.customers_telephone }}</p>
      </ion-card-content>
    </ion-card>
    <ion-list *ngIf="summary.data.data.length">
      <h2 style="padding: 0 0px 6px;font-size: 18px;border-bottom: 1px solid #ccc;margin: 10px 15px 10px;">Order Items</h2>
      <ion-item *ngFor="let prod of summary.data.data" class="ion-align-items-stretch" style="margin-bottom:15px;">
        <ion-thumbnail slot="start" style="position: absolute;top: 0;width:56px;">
          <img [src]="data.apiUrlNew + prod.image">
        </ion-thumbnail>
        <ion-label style="margin-top:0;padding-left:70px;">
          <h3 style="font-size: 12px;text-overflow: ellipsis;overflow: hidden;text-transform: uppercase;">{{ prod.products_name }}</h3>
          <p style="font-size: 12px;text-overflow: ellipsis;overflow: hidden;">Quantity: {{ prod.products_quantity }}</p>
          <p style="font-size: 12px;text-overflow: ellipsis;overflow: hidden;">Price: ₹{{ prod.final_price }}</p>
          <div *ngIf="prod.attribute && prod.attribute.length" style="    margin-top: 3px;white-space: nowrap;color: #525252;">
            <h3 class="addonHead" style="font-size:13px;">- Add on Options</h3>
            <h5 *ngFor="let attr of prod.attribute" style="font-size:12px;"><strong><span class="dotted">•</span> {{ attr.products_options_values_name }}</strong>, + {{ attr.options_values_price | currency : 'INR' }}</h5>
          </div>
          <div class="deliveryDetails">
            <h3>DELIVERY DATE</h3>
            <div class="detailsDate">
              <strong *ngIf="prod.shipping_date && prod.shipping_date !== 'undefined'">{{ prod.shipping_date | date }}</strong>
              <span *ngIf="+prod.shipping_cost == 0 || (prod.shipping_cost && prod.shipping_cost !== 'undefined')">{{ prod.shipping_cost == '99' ? 'Fixed Time Delivery' : prod.shipping_cost == '49' ? 'Standard Delivery' : prod.shipping_cost == 0 ? 'Free Delivery' : prod.shipping_cost == '149' ? 'Midnight Delivery' : 'Third Party Delivery' }} <s *ngIf="+prod.shipping_cost > 0" style="margin-right: 3px;">-</s> <strong class="currency_px" *ngIf="+prod.shipping_cost > 0"> {{ prod.shipping_cost | currency:'INR' }}</strong></span>
              <span *ngIf="prod.shipping_time && prod.shipping_time.from && prod.shipping_time !== 'undefined'">Between {{ prod.shipping_time.from }}:00 to {{ prod.shipping_time.to }}:00</span>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="maincontent" *ngIf="!summary">
    
  </div>
</ion-content>
