<ion-content>
  <div class="maincontent" *ngIf="summary">
    <lottie-animation-view
    [options]="lottieConfig"
    [width]="300"
    [height]="100"
    (animCreated)="handleAnimation($event)">
    </lottie-animation-view>
    <h3 class="text-center">Thank you for shopping with us!</h3>
    <p class="text-center">Find below your order details</p>
    <ion-card class="transaction">
      <ion-card-content>
        <h2>Order Details</h2>
        <hr>
        <p>Order Id - PLN{{ summary.data.orders_id }}</p>
        <p>Order Date - {{ summary.data.date_purchased | date : 'dd MMM yyyy, hh:mm:a' }}</p>
        <p>Order subotal - {{ (+summary.subtotal | currency:'INR') }}</p>
        <p *ngIf="summary.data.coupon_data && summary.data.coupon_data.coupon_amount > 0">Coupon discount - {{ (+summary.data.coupon_data.coupon_amount | currency:'INR') }}</p>
        <p *ngIf="+summary.data.deduct_from_wallet > 0">Wallet Discount - {{ (+summary.data.deduct_from_wallet) | currency:'INR' }}</p>
        <p>Order shipping - {{ summary.data.shipping_cost | currency:'INR' }}</p>
        <p>Order total - {{ +summary.total_price | currency:'INR' }}</p>
        <p><a target="_blank" download href="{{data.apiUrlNew}}viewOrderPdf/{{summary.data.orders_id}}.pdf" color="px">Download Invoice</a></p>
      </ion-card-content>
    </ion-card>
    <ion-card class="cashback_msg" *ngIf="+summary.data.cashback_amount >= 1">
      <ion-card-content [routerLink]="['/profile/wallethistory']">
        Congratulations! You have got <strong>{{ +summary.data.cashback_amount | currency:'INR' }}</strong> cashback on this order. Please check your wallet.
      </ion-card-content>
    </ion-card>
    <ion-card class="recipient">
      <ion-card-content>
        <h2>Recipient Details</h2>
        <hr>
        <p>{{ summary.data.delivery_name }}</p>
        <p>{{ summary.data.delivery_street_address }}</p>
        <p>{{ summary.data.delivery_city}}-{{ summary.data.delivery_postcode }}</p>
        <p>Mobile - {{ summary.data.customers_telephone }}</p>
      </ion-card-content>
    </ion-card>
    <ion-list *ngIf="summary.data.data.length">
      <h2>Order Items</h2>
      <ion-item *ngFor="let prod of summary.data.data">
        <ion-thumbnail slot="start">
          <img [src]="data.apiUrlNew + prod.image">
        </ion-thumbnail>
        <ion-label>
          <h3>{{ prod.products_name }}</h3>
          <p>Quantity: {{ prod.products_quantity }}</p>
          <p>Price: ₹{{ prod.final_price }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="maincontent" *ngIf="!summary">
    
  </div>
</ion-content>
