.maincontent{
    padding-left: 0;
    padding-right: 0;
}
.cartFilled ul{
    margin:0;
    padding:0;
    list-style: none;
}
.addonHead{
    font-size: 14px;
    color: #5a5a5a;
    margin: 2px 0 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}
.dotted{
    font-size: 22px;
    padding-right: 2px;
    display: inline-block;
    position: relative;
    top: 2px;
    line-height: 10px;
    color: #333333;
}
.fistSec{
    background:#f3f3f3;
    padding:10px 0 0;
}
.cartFilled{
    margin-bottom:10px;
}
.cartFilled ul > li .catRow{
    margin:0 10px;
    border-bottom:1px solid #ccc;
}
.cartFilled ul > li .catRow > span{
    display:inline-block;
    padding:3px 8px;
    font-size:12px;
    color:#fff;
    background: var(--ion-color-px);
    border-radius: 3px 3px 0 0;
}
.prodRow{
    display: flex;
    padding:8px 10px 2px;
    border-bottom:1px solid #ccc;
}

.prodRow img{
    width:60px;
    height:60px;
    border-radius: 3px;
    display:inline-block;
    object-fit: cover;
}
.detailsProd{
    flex:auto;
}
.detailsProd{
    display: flex;
    padding-left: 15px;
    flex-flow: column;
    justify-content: space-between;
    flex: auto;
    max-width: 60%;
}
.detailsProd h5{
    font-size:12px;
    color:#333;
    font-weight: 400;
    margin:0;
    margin-bottom:4px;
}
.priceProd{
    text-align: right;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;
    flex:auto;
    min-width:75px;
}
.priceProd strong{
    font-size:13px;
    color:var(--ion-color-tertiary);
    display:block;
}
.priceProd ion-icon{
    color:#797979;
    font-size:20px;
}
.deliveryDetails, .addressDetails, .cakeMessage{
    display:flex;
    padding:8px 10px;
    border-bottom:1px solid #ccc;
}
.deliveryDetails h3, .addressDetails h3, .cakeMessage h3{
    color:#333;
    font-size:13px;
    margin:0;
    font-weight: 700;
}
.deliveryDetails .detailsDate{
    display:flex;
    flex-flow: column;
    justify-content: center;
    padding-left:25px;
    font-size:11px;
}
.deliveryDetails .detailsDate span{
    display:block;
    &:nth-child(2){
        margin:3px 0;
    }
}
.totalsArea{
    display:flex;
    padding:8px 10px;
    // border-bottom:1px solid #ccc;
}
.totalsArea h3{
    color:#333;
    font-size:13px;
    margin:0;
    font-weight: 700;
}
.priceSets{
    padding-left: 50px;
    flex: auto;
    > div{
        display: flex;
        justify-content: space-between;
        padding-bottom:5px;
        flex-wrap: wrap;
    }
    > div:nth-child(4){
        padding-top:7px;
        border-top: 1px solid #ccc;
    }
    >div.totalAmount{
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        strong{
            font-weight: bolder;
            font-size: 14px;
        }
        span{
            color: var(--ion-color-tertiary);
            font-weight: bolder;
            font-size: 14px;
        }
    }
    strong{
        font-size: 13px;
        font-weight: normal;
    }
    span{
        font-size: 13px;
    }
}
.checkoutBtn ion-button{
    font-size:16px;
    margin:0;
}
.noAddress{
    padding-left: 25px;
    flex:auto;
    text-align:right;
    ion-button{
        margin:0;
    }
}
.extraMessage{
    padding-left: 25px;
    flex:auto;
    text-align:right;
    font-size:14px;
    input{
        width:100%;
        display:block;
        padding:9px 12px;
        border:1px solid #ccc;
        border-radius: 4px;
    }
}
span.hint{
    display:block;
    font-size:11px;
    margin-top:3px;
}
.couponApplyArea ion-button{
    color: #000;
    text-transform: none;
    font-size: 13px;
    --box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    ion-icon{
        font-size:13px;
    }
}
.hasAddress{
    font-size:12px;
    padding-left:67px;
    p{
        margin:0 0 5px;
    }
}
.cartEmpty{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.detailsWhy{
    text-align: center;
    width: 100%;
    padding: 0 20px;
}
.detailsWhy img{
    width:70px;
    display:block;
    margin:0 auto;
}
.detailsWhy h3{
    font-size:16px;
    font-weight: 500;
    margin:10px 0 5px;
    color:var(--ion-color-px);
}
.detailsWhy p{
    font-size:13px;
    color:#797979;
    margin:0 0 25px;
}
.detailsWhy ion-button{
    font-size:12px;
    font-weight: 400;
}
.couponForm{
    width: 100%;
    margin-top: 0px;
    padding: 10px 10px;
    background: var(--ion-color-px)17;
    border: 1px solid var(--ion-color-px);
    border-radius: 4px;
    > input{
        border-radius:4px;
        border:1px solid #ccc;
        margin:8px 0 6px;
        width:100%;
        line-height: 35px;
        height: 35px;
        padding-left:10px;
        font-size:13px;
        text-transform: uppercase;
        outline:none!important;
    }
    > ion-button{
        margin:0;
        text-transform: uppercase;
    }
}
.savedMoney{
    padding: 10px 5px;
    font-size: 12px;
    font-weight: 500;
    background: #fff;
    text-align: center;
    color: #000;
}
.prodBox{
    background: #fff;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    height: 100%;
    z-index: 1;
}
.prodBox.premium{
    filter: blur(3px);
}
.prodImage{
    position: relative;
    height:auto;
    z-index: -1;
    padding:5px;
    .badge{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 4px 5px;
        color: #fff;
        background: var(--ion-color-px);
        font-size: 10px;
        font-weight: bold;
        border-radius: 4px 0 4px 0;
        white-space: nowrap;
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 5px;
    }
    img{
        border-radius: 4px 4px 0 0;
        display:block;
        height:100%;
        object-fit: cover;
        width: 100%;
        object-position: top center;
    }
}
.prodDetails{
    padding:8px 5px 36px;
    h5{
        font-size: 12px;
        margin: 0;
        font-weight: 400;
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h6{
        font-size:14px;
        font-weight: 800;
        margin:5px 0;
    }
    .offerTag{
        font-size:13px;
        margin-bottom:4px;
        span{
            color:var(--ion-color-px);
            padding-left:5px;
        }
    }
    .ratings{
        color:var(--ion-color-px);
        span{
            padding-right:5px;
            font-size:13px;
            vertical-align: middle;
        }
        ion-icon{
            font-size:13px;
            vertical-align: middle;
        }
    }
    .availNowCta{
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        margin:4px;
        ion-button{
            margin:0;
        }
    }
}