<ion-content>
  <div class="maincontent">
    <div class="cartEmpty" *ngIf="!data.cart.length">
      <div class="detailsWhy">
        <img src="assets/images/empty-cart.png" />
        <h3>Your cart is empty so, its sad and lonely.</h3>
        <p>Turn its frown upside down: fill it with gift</p>
        <ion-button color="tertiary" size="block" shape="rounded" routerLink="/">SHOP NOW</ion-button>
      </div>
    </div>
    <div *ngIf="data.userInfo && data.cart && data.cart.length" class="cartFilled">
      <div *ngIf="data.cartDiscount > 0" class="savedMoney">Congratulations! You have saved {{ data.cartDiscount | currency : 'INR' }} on your order!</div>
      

      <div class="upsell_products" *ngIf="data.upsell_products.length && +data.cartTotal >= 2000">
        <div class="upsellBox" *ngFor="let prod of data.upsell_products" [class.active]="prod.isUpsellAdded">
          <ion-list>
            <ion-item lines="none">
              <ion-label><strong>Yes! </strong>Add {{ prod.products_name }} with this order: 
                <span class="price_upsell">
                  <span>₹ {{ prod.specials_new_products_price ? prod.specials_new_products_price : prod.products_price }}</span>
                  <span *ngIf="prod.specials_new_products_price && prod.specials_new_products_price!=prod.products_price"><del> ₹ {{ prod.products_price }}</del></span>
                </span> 
              </ion-label>
              <ion-checkbox color="primary" slot="start" mode="md" color="px" (ionChange)="toggleUpsell($event, prod)" [value]="prod.products_id" [checked]="prod.isUpsellAdded"></ion-checkbox>
            </ion-item>
          </ion-list>
          <div class="upsell_product_row">
            <img [src]="data.apiUrlNew+prod.products_image" />
            <div class="upsell_details">
              <p [innerHTML]="prod.products_description"></p>
            </div>
          </div>
        </div>
      </div>


      <ul>
        <li *ngFor="let prod of data.cart | filterBy:cartFilter; let i = index;">
          <div class="fistSec">
            <div class="catRow">
              <span>Item {{ i+1 }}</span>
            </div>
            <div class="prodRow">
              <img [src]="data.apiUrlNew + prod.image" />
              <div class="detailsProd">
                <h5>{{ prod.products_name }}</h5>
                <h5 *ngIf="prod.weight && prod.weight != '0'">{{ prod.weight }} gm</h5>
                <h5>Qty : {{ prod.customers_basket_quantity }}</h5>
                <div *ngIf="prod.attributes && prod.attributes.length" style="margin-top:3px;white-space: nowrap;">
                  <h3 class="addonHead">- Add on Options</h3>
                  <h5 *ngFor="let attr of prod.attributes"><strong><span class="dotted">•</span> {{ attr.attribute_value }}</strong>, + {{ attr.options_values_price | currency : 'INR' }}</h5>
                </div>
              </div>
              <div class="priceProd">
                <strong *ngIf="+prod.final_price >= 1">₹ {{ prod.special_price ? (+prod.special_price).toFixed(2) : (+prod.price).toFixed(2) }}</strong>
                <strong *ngIf="+prod.final_price == 0"><del style="color:#000;font-size:11px;">₹ {{ (+prod.price).toFixed(2) }}</del><div style="color:#f5444c;">Free</div></strong>
                <!-- <ion-icon name="trash" (click)="methods.removeFromCart(prod)"></ion-icon> -->
              </div>
            </div>
            <div class="addonRow" *ngIf="prod.addonSubProducts && prod.addonSubProducts.length">
              <h4>Addons</h4>
              <div class="prodRow" *ngFor="let addonProd of prod.addonSubProducts">
                <img [src]="data.apiUrlNew + addonProd.image" />
              <div class="detailsProd">
                <h5>{{ addonProd.products_name }}</h5>
                <h5 *ngIf="addonProd.weight && addonProd.weight != '0'">{{ addonProd.weight }} gm</h5>
                <h5>Qty : {{ addonProd.customers_basket_quantity }}</h5>
              </div>
              <div class="priceProd">
                <strong *ngIf="+addonProd.final_price >= 1">₹ {{ addonProd.special_price ? (+addonProd.special_price).toFixed(2) : (+addonProd.price).toFixed(2) }}</strong>
                  <strong *ngIf="+addonProd.final_price == 0"><del style="color:#000;font-size:11px;">₹ {{ (+addonProd.price).toFixed(2) }}</del><div style="color:#f5444c;">Free</div></strong>
                <!-- <ion-icon name="trash" (click)="methods.removeFromCart(addonProd)"></ion-icon> -->
              </div>
              </div>
            </div>
          </div>
          <div class="deliveryDetails" *ngIf="prod.product_parent != 'upsell'">
            <h3>DELIVERY DATE</h3>
            <div class="detailsDate">
              <strong *ngIf="prod.shipping_date && prod.shipping_date !== 'undefined'">{{ prod.shipping_date | date }}</strong>
              <span *ngIf="prod.shipping_cost == 0 || (prod.shipping_cost && prod.shipping_cost !== 'undefined')">{{ prod.shipping_cost == '99' ? 'Fixed Time Delivery' : prod.shipping_cost == '49' ? 'Standard Delivery' : prod.shipping_cost == 0 ? 'Free Delivery' : prod.shipping_cost == '149' ? 'Midnight Delivery' : 'Third Party Delivery' }} <s *ngIf="+prod.shipping_cost > 0" style="margin-right: 3px;">-</s> <strong class="currency_px" *ngIf="+prod.shipping_cost > 0"> {{ prod.shipping_cost | currency:'INR' }}</strong></span>
              <span *ngIf="prod.shipping_time && prod.shipping_time !== 'undefined'">Between {{ prod.shipping_time.from }}:00 to {{ prod.shipping_time.to }}:00</span>
            </div>
          </div>
        </li>
      </ul>
      <div class="addressDetails">
        <h3>ADDRESS</h3>
        <div class="noAddress" *ngIf="!data.deliveryAddress && (!data.userInfo.addresses) || (data.userInfo.addresses && !data.userInfo.addresses.length)">
          <ion-button color="tertiary" [routerLink]="['/profile/addnewaddress']" [queryParams]="{next:'/checkout'}">ADD NEW ADDRESS<ion-icon name="ios-arrow-forward"></ion-icon></ion-button>
        </div>
        <div class="hasAddress" *ngIf="data.deliveryAddress">
          <p>{{ data.deliveryAddress.firstname }}</p>
          <p>{{ data.deliveryAddress.street }}</p>
          <p>{{ data.deliveryAddress.city }} {{ data.deliveryAddress.postcode }}</p>
          <p>Mobile: {{ data.userInfo.customers_telephone }}</p>
          <div class="changeAddress text-right">
            <ion-button color="tertiary" fill="clear" [routerLink]="['/saved-address']" [queryParams]="{'next':'/checkout'}">
              <ion-icon name="create"></ion-icon>
              Change Address
            </ion-button>
          </div>
        </div>
      </div>
      <div class="cakeMessage" *ngIf="data.cartHasCake">
        <h3>CAKE MESSAGE</h3>
        <div class="extraMessage">
          <input type="text" maxlength='25' [(ngModel)]="data.cakeMessage" placeholder="Type cake message...">
          <span class="hint">left {{ maxCake - data.cakeMessage.length }}</span>
        </div>
      </div>
      <div class="totalsArea">
        <h3>SUMMARY</h3>
        <div class="priceSets">
          <div>
            <strong>Subtotal</strong>
            <span>₹ {{ (data.cartSubTotal).toFixed(2) }}</span>
          </div>
          <div>
            <strong>Discount</strong>
            <span>₹ {{ data.cartDiscount.toFixed(2) }}</span>
          </div>
          <div *ngIf="data.appliedCouponData">
            <strong>Coupon Applied</strong>
            <span><b style="color:var(--ion-color-px);font-size:13px;">{{ data.appliedCouponData.code }}</b></span>
          </div>
          <div *ngIf="data.walletCashbackData">
            <strong>Cashback you get ({{ data.appliedCouponData.amount }}%)</strong>
            <span><b style="color:var(--ion-color-px);font-size:13px;">{{ (+data.appliedCouponData.amount/100)*+data.cartSubTotal | currency : 'INR' }}</b></span>
          </div>
          <div *ngIf="data.freeProductDetails" class="freeProduct">
            <h3>Free Product Details</h3>
            <ion-grid style="padding:0;">
              <ion-row>
                <ion-col size="3">
                  <img [src]="data.apiUrlNew+data.freeProductDetails.products_image">
                </ion-col>
                <ion-col size="9">
                  <h4>{{ data.freeProductDetails.products_name }}</h4>
                  <p><del>{{ data.freeProductDetails.products_price | currency : 'INR' }}</del><b>Free</b></p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div>
            <strong>Shipping</strong>
            <span *ngIf="data.cartShippingTotal != '0'">₹ {{ (data.cartShippingTotal).toFixed(2) }}</span>
          <span *ngIf="data.cartShippingTotal == '0'">Free Delivery</span>
          </div>
          <div class="totalAmount">
            <strong>GRAND TOTAL</strong>
            <span>₹ {{ (data.cartTotal).toFixed(2) }}</span>
          </div>
          <div class="couponApplyArea" *ngIf="data.cartSubTotal > 0 && !data.appliedCoupon">
            <ion-button color="tertiary" (click)="toggleCouponForm()">Apply Coupon<ion-icon name="ios-arrow-forward"></ion-icon></ion-button>
            <div class="couponForm" *ngIf="data.couponFormOpened">
              <h3>Enter Coupon Code</h3>
              <input type="text" placeholder="Enter code here" [(ngModel)]="data.couponCode" id="couponCodeField">
              <ion-button expand="full" color="tertiary" (click)="applyCoupon()">Apply</ion-button>
            </div>
          </div>
          <div class="couponApplyArea" *ngIf="data.appliedCoupon">
            <ion-button color="tertiary" (click)="methods.removeCoupon()">Remove Coupon</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<div class="pxPopup" *ngIf="data.isFreeProductEligible">
  <span class="pxOverlay" (click)="data.isFreeProductEligible = false;"></span>
  <div class="pxPopupContent">
    <h3>Choose your free Product</h3>
    <div class="productsArea productsSec" *ngIf="data.freeProducts.length">
      <ion-grid style="padding:0;">
        <ion-row>
          <ion-col size="6" *ngFor="let product of data.freeProducts">
            <div class="prodBox ion-activatable" (click)="methods.applyFreeProductCoupon(product)">
              <ion-ripple-effect></ion-ripple-effect>
              <div class="prodImage">
                <span class="badge" *ngIf="product.products_tags">{{ product.products_tags }}</span>
                <img [src]="data.apiUrlNew + product.products_image" />
              </div>
              <div class="prodDetails text-center">
                <h5>{{ product.products_name }}</h5>
                <h6>₹ {{ product.specials_new_products_price ? product.specials_new_products_price : product.products_price }}</h6>
                <div class="offerTag" *ngIf="product.specials_new_products_price && product.products_price!=product.specials_new_products_price"><del>₹ {{ product.products_price }}</del><span>{{ (((+product.products_price - +product.specials_new_products_price)/+product.products_price)*100).toFixed(0) }}% OFF</span></div>
                <div class="availNowCta">
                  <ion-button expand="block" size="small" fill="outline" color="tertiary">Add</ion-button>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>

<ion-footer *ngIf="data.cart.length">
  <div class="checkoutBtn">
    <ion-button color="tertiary" expand="full" shape="undefined" size="large" (click)="validateandplace()">PLACE ORDER</ion-button>
  </div>
</ion-footer>