<ion-header>
  <ion-toolbar class="mainHeader" color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-img class="logo" [src]="'assets/images/logo.png'" routerLink="/"></ion-img>
    <span class="headTitle">Choose Flavours</span>
    <ion-buttons slot="end">
      <ion-button (click)="clearFilters()">
        Clear
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let flavour of flavours">
        <ion-label>{{ flavour }}</ion-label>
        <ion-checkbox slot="end" [value]="flavour" [checked]="data.selectedFilters.flavours.indexOf(flavour) != -1" color="tertiary" (ionChange)="selectFlavour($event)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button color="tertiary" slot="end" (click)="applyFlavours()">
        Apply
      </ion-button>
  </ion-toolbar>
</ion-footer>