ion-item{
    font-size: 14px;
    font-weight: 600;
    color:#333;
    border-bottom: 1px solid #f1eaea;
}
.maincontent{
    padding-left:0;
    padding-right:0;
}
ion-avatar{
    --border-radius:0;
}
ion-label h2{
    font-size:14px;
    font-weight: 500;
}