.logo{
    width:35px;
}
.blogDetails > img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.desc{
    padding:10px 5px;
}
.desc > h3{
    font-size:18px;
    font-weight: 600;
    color:#333;
    margin:0 0 10px;
}