<ion-header>
  <ion-toolbar class="mainHeader" color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-img class="logo" [src]="'assets/images/logo.png'" routerLink="/"></ion-img>
    <span class="headTitle">Filter By</span>
    <ion-buttons slot="end">
      <ion-button (click)="clearFilters()">
        Clear
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-item detail [routerLink]="['/filter/weight']" queryParamsHandling="preserve">Weight</ion-item> -->
    <!-- <ion-item detail>Recipient</ion-item> -->
    <ion-item detail [routerLink]="['/filter/price']" queryParamsHandling="preserve">Price</ion-item>
    <!-- <ion-item detail>Type</ion-item> -->
    <!-- <ion-item detail>Shape</ion-item> -->
    <ion-item *ngIf="this.data.allFiltered.selectedCategory && this.data.allFiltered.selectedCategory.id=='1'" detail [routerLink]="['/filter/flavours']" queryParamsHandling="preserve">Flavours</ion-item>
    <!-- <ion-item detail>Badge</ion-item> -->
    <!-- <ion-item detail>Earliest Delivery</ion-item> -->
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button color="tertiary" slot="end">
        Apply
      </ion-button>
  </ion-toolbar>
</ion-footer>