<ion-content>
  <div class="maincontent" *ngIf="summary">
    <div style="margin-top:25px;">
      <lottie-animation-view
      [options]="lottieConfig"
      [width]="300"
      [height]="100"
      (animCreated)="handleAnimation($event)">
      </lottie-animation-view>
    </div>
    <h3 class="text-center">Payment not Successfull!</h3>
    <p class="text-center">Please try again.</p>
    <ion-card class="transaction">
      <ion-card-content>
        <!-- <h2>Order Details</h2> -->
        <!-- <hr> -->
        <p>Order Id - PLN{{ summary.data.orders_id }}</p>
        <p>Order Date - {{ summary.data.date_purchased | date : 'dd MMM yyyy, hh:mm:a' }}</p>
        <p>Order subotal - {{ (+summary.subtotal | currency:'INR') }}</p>
        <p *ngIf="summary.data.coupon_data && summary.data.coupon_data.coupon_amount > 0">Coupon discount - {{ (+summary.data.coupon_data.coupon_amount | currency:'INR') }}</p>
        <p *ngIf="+summary.data.deduct_from_wallet > 0">Wallet Discount - {{ (+summary.data.deduct_from_wallet) | currency:'INR' }}</p>
        <p>Order shipping - {{ summary.data.shipping_cost | currency:'INR' }}</p>
        <p>Order total - {{ +summary.total_price | currency:'INR' }}</p>
        <ion-button color="tertiary" expand="block" style="margin-top:10px;" (click)="retryOrder()">Retry here</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="maincontent" *ngIf="!summary">
    
  </div>
</ion-content>
