<footer>
  <div class="headingPlanout">Make Someone Happy Today</div>
  <ion-grid class="topFooter">
    <ion-row>
      <ion-col size="4">
        <div class="emailSubs">
          <h4>Sign up for Email Offers and Updates</h4>
          <div class="formForSub">
            <input type="text" placeholder="Enter your email here" />
            <ion-button color="tertiary">Submit</ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="socialFooter">
          <h4>Connect with Us</h4>
          <a class="facebook" target="_blank" href="https://www.facebook.com/MyFlowerTree"><ion-icon name="logo-facebook"></ion-icon></a>
          <a target="_blank" class="Instagram" href="https://www.instagram.com/myflowertree_mft/"><ion-icon name="logo-instagram"></ion-icon></a>
          <a target="_blank" class="twitter" href="https://www.twitter.com/myflowertreemft"><ion-icon name="logo-twitter"></ion-icon></a>
          <a target="_blank" class="youtube" href="https://www.youtube.com/user/MyFlowerTree/about"><ion-icon name="logo-youtube"></ion-icon></a>
          <a target="_blank" class="pinterest" href="https://in.pinterest.com/myflowertreemft/?autologin=true"><ion-icon name="logo-pinterest"></ion-icon></a>
          <a target="_blank" class="linkedin" href="https://www.linkedin.com/company/myflowertree-com"><ion-icon name="logo-linkedin"></ion-icon></a>
        </div>
      </ion-col>
      <ion-col size=4>
        <div class="secureTrans">
          <h4>Secure Ordering and Transactions</h4>
          <div class="imageSec">
            <img src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/images/footerpayment.png" />
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="otherLinks">
    <div class="footer-items-list ">
      <a href="javascript:void(0);" routerLink="/content/About Us">About Us</a> | 
      <a href="javascript:void(0);" routerLink="/sitemap">Sitemap</a> | 
      <a href="javascript:void(0)" routerLink="/content/Frequently Asked Ques">FAQS</a> | 
      <a href="javascript:void(0)" routerLink="/trending">Blog</a> | 
      <a href="javascript:void(0);" routerLink="/passport">Planoutx Passport</a> | 
      <a href="javascript:void(0);" routerLink="/content/Term & Services">Terms &amp; Conditions</a>
    </div>
  </div>
  <div class="copyRight">
    <p>Copyright © 2019-2020, Planoutx.com, All Rights Reserved.</p>
  </div>
</footer>