<ion-content fullscreen scroll-y="false">
  <swiper [config]="config" #swiperInst >
    <div class="swiperLib">
      <img src="https://image.freepik.com/free-vector/birthday-celebration-background-with-children_23-2147650005.jpg" alt="">
      <div class="detailsSec">
        <h3>Plan your birthday</h3>
        <p>Where you plan and share your birthday experience with everyone</p>
      </div>
    </div>
    <div class="swiperLib">
      <img src="https://image.freepik.com/free-vector/birthday-celebration-background-with-children_23-2147650005.jpg" alt="">
      <div class="detailsSec">
        <h3>Plan your birthday</h3>
        <p>Where you plan and share your birthday experience with everyone</p>
      </div>
    </div>
    <div class="swiperLib">
      <img src="https://image.freepik.com/free-vector/birthday-celebration-background-with-children_23-2147650005.jpg" alt="">
      <div class="detailsSec">
        <h3>Plan your birthday</h3>
        <p>Where you plan and share your birthday experience with everyone</p>
        <ion-button style="margin-top:50px;" [routerLink]="['/login']" color=tertiary size="block">Get started</ion-button>
      </div>
    </div>
  </swiper>
</ion-content>