<ion-list>
  <ion-radio-group [value]="data.selectedSortBy">
    <ion-list-header>
      Sort By
    </ion-list-header>

    <ion-item>
      <ion-label>Recommended</ion-label>
      <ion-radio value="recommended" color="tertiary" (click)="sortProductsBy('recommended')"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>New</ion-label>
      <ion-radio value="new" color="tertiary" (click)="sortProductsBy('new')"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Price Low to High</ion-label>
      <ion-radio value="pltoh" color="tertiary" (click)="sortProductsBy('pltoh')"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Price High to Low</ion-label>
      <ion-radio value="phtol" color="tertiary" (click)="sortProductsBy('phtol')"></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>