<ion-list>
  <ion-radio-group>
    <ion-list-header>
      Sort By
    </ion-list-header>

    <ion-item>
      <ion-label>Recommended</ion-label>
      <ion-radio [checked]="data.selectedSortBy == 'recommended' ? 'true' : 'false'" value="recommended" color="tertiary" (ionSelect)="sortProductsBy('recommended')"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>New</ion-label>
      <ion-radio [checked]="data.selectedSortBy == 'new' ? 'true' : 'false'" value="new" color="tertiary" (ionSelect)="sortProductsBy('new')"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Price Low to High</ion-label>
      <ion-radio [checked]="data.selectedSortBy == 'pltoh' ? 'true' : 'false'" value="pltoh" color="tertiary" (ionSelect)="sortProductsBy('pltoh')"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Price High to Low</ion-label>
      <ion-radio [checked]="data.selectedSortBy == 'phtol' ? 'true' : 'false'" value="phtol" color="tertiary" (ionSelect)="sortProductsBy('phtol')"></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>